.container {
    padding-top: 140px; /* Same as header height */
    margin-left: 360px; /* Same as sidebar width */
    background-color: #1a1a1a;
    color: white;
    min-height: 100vh;
}
  
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.list {
    list-style-type: none;
    padding-left: 0;
}
  
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s;
}
  
.modalContent {
    background-color: #2a2d37;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 500px;
    color: white;
}
  
.modalHeader {
    margin-top: 0;
}
  
.input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #1c1e24;
    color: white;
}
  
.buttonContainer {
    display: flex;
    justify-content: space-between;
}
  
.submitButton {
    background-color: #4CAF50;
}
  
.cancelButton {
    background-color: #f44336;
}
  
.buttonListItem {
    background-color: #333; /* Lighter background color by default */
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid transparent; /* Add a subtle border */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: left;
    transition: background-color 0.1s, transform 0.1s; /* Added transform transition */
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.buttonListItem:hover {
    background-color: #444; /* Darker background on hover */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}

/* Style for disabled buttons */
.buttonListItem:disabled {
    background-color: #555; /* Dimmer background color */
    color: #777; /* Dimmer text color */
    cursor: default; /* Change cursor to default */
    opacity: 0.5; /* Make the button semi-transparent */
    transform: none; /* Remove any transformation */
    box-shadow: none; /* Remove shadow */
    pointer-events: none;
}

/* Ensure disabled buttons don't change on hover */
.buttonListItem:disabled:hover {
    background-color: #555; /* Keep the same background color */
    color: #777; /* Keep the same text color */
}

.listContainer {
    width: 'auto';
    max-width: '400px';
    margin: '0 auto';
    padding: '0';
}
