.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligns children to top and bottom */
    width: 360px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.sidebarContent {
    overflow-y: auto; /* Allows scrolling for the repo list */
    padding: 20px;
    flex: 1; /* Takes up remaining space */
}

.addRepoBtn {
    padding: 10px;
    background: #4CAF50; /* Example color */
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    min-height: 50px;
}

.toggleBtn {
    position: absolute;
    top: 50%;
    right: -40px; /* Adjust as necessary */
    transform: translateY(-50%);
    z-index: 2;
}

.repoButton {
    background-color: #333; /* Same as home screen repo file buttons */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding inside the button */
    margin: 5px 0; /* Margin for vertical spacing */
    border: 1px solid transparent; /* Border style */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor to pointer */
    display: block; /* Stack buttons vertically */
    text-align: left; /* Align text to the left */
    transition: background-color 0.1s; /* Transition for hover effect */
    width: 100%; /* Full width */
}

.repoButton:hover {
    background-color: #444; /* Darker background on hover */
    color: #fff; /* Keep white color on hover */
}

.repoListItem {
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.deleteRepoBtn {
    background-color: rgb(171, 12, 12);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    margin-left: -20px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 20%; /* Make it circular */
}
  